@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg: #fff;
    --second-bg: #FAFAFA;
    --border-color: #DBDBDB;

    --gray-color: #EFEFEF;
    --red-color: #ed4956;
    --primary-text: #262626;
    --blue-text: #0095F6;
    --white-text: #fff;
    --black-color: #000;
    --gray-text: #8e8e8e;

    --height-header: 60px;
}

.logo {
    background-image: url('./assets/images/logo.png');
    width: 103px;
    height: 29px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 -324px;
}

/* cusstome swiper slider */
.swiper-button-next::after {
    font-size: 15px;
    padding: 5px 8px;
    font-weight: 600;
    border-radius: 50%;
    color: var(--black-color);
    background-color: var(--primary-bg);
}

.swiper-button-prev::after {
    font-size: 15px;
    padding: 5px 8px;
    font-weight: 600;
    border-radius: 50%;
    color: var(--black-color);
    background-color: var(--primary-bg);
}

.active {
    visibility: visible;
}

@layer utilities {
    .active {
        @apply visible opacity-100 transition-all duration-300 ease-out transform scale-100
    }
}